---
title: Oops! Not Found
layout: base
permalink: /404.html
eleventyExcludeFromCollections: true
---

<div class="not-found">
  <h1>404</h1>
  <p>Not sure what you're looking for,  <a href="{{ '/' | url }}">Sorry</a>.</p>
</div>